@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.side-navbar{
    display: flex;
    flex-direction: column;
    padding: 0.9rem 0.7rem;
    gap: 1.5rem;
    width: 12vw;
    height: 100vh;
    border-right: 1px solid;
}
img{
    display: block;
}
.toggle-bar{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}
.toggle-btn, .logo-name{
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 0;
}
.logo-name{
    font-size: 1.13rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.nav-links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nav-links div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.98rem;
    transition: 0.6ms all;
}
.nav-links div:hover{
    background-color: #616161;
    color: #fff;
}
.custom-link{
    text-decoration: none;
    color: #000;
}
